.config
.cpuprofile
.cspell
.dccache
.editorconfig
.eslintcache
.eslintrc.json
.git
.gitattributes
.gitignore
.heapprofile
.heapsnapshot
.vscode
.vsix
*.cpuprofile
*.heapprofile
*.heapsnapshot
*.vsix
coverage/
cspell.json
dprint.json
node_modules/
note/
src/
tsconfig.json
